form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left
}

label {
    font-size: 1.5rem;
}

.indice {
    width: 260px;
    height: 30px;
    line-height: 30px;
    padding: 15px;
    margin-bottom: 25px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #CCC;
    outline: 0
}

#btn {
    width: 300px;
    height: 40px;
    margin: 22px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    cursor: pointer
}