h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 30px;
    color: #535c68
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 2rem;
        margin: 20px 0
    }
}